.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}

.footer {
    display: flex;
    background-color: lightgray;
    justify-content: center;
}

#nprogress .bar {
    background: tomato !important;
}

#nprogress .spinner-icon {
    border-top-color: tomato;
    border-left-color: tomato;
}